.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg,rgb(161, 52, 70),white 60%);
    display: flex;
    justify-content: space-between;
}
.hero-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1;
    gap: 20px;
    padding: 100px;
    margin-bottom: 150px;
    
}
.hero-left-side h2{
    color: #090909;
    font-size: 40px;
    font-weight: 600;
}
.hero-left-side p{
    color: #171717;
    font-size: 80px;
    font-weight: 700;
}
.hero-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-icon img{
    width: 105px;
}
.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    margin-top: 30px;
    border-radius: 75px;
    background-color: #fe2b2b;
    color: white;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}
.hero-right-side img{
    height: 80%;
    width: 100%;
    object-fit: contain;
} 