.breadcrum{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 16px;
    justify-content: center;
    font-weight: 500;
    color: #555;
    margin: 20px 0;

}
.breadcrum img{
    width: 12px;
    height: 12px;
    object-fit: contain;
}

.breadcrum span{
    background: linear-gradient(90deg, red, #20201f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}