.item{
    width: 350px;
    margin: 5px;
    gap: 50px;
}
.item p{
    margin: 6px 0px;
    width: 350px;
}
.item-prices{
    display: flex;
    gap: 10px;
}
.new-price{
    color: #252525;
    font-size: 19px;
    font-weight: 600;
}
.old-price{
    color: #747274;
    font-size: 19px;
    font-weight: 600;
}
.item:hover{
    transform: scale(1.1);
    transition: 0.7s;
}