.descriptionBox {
    width: 1380px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
}

.descriptionBox-navigator {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.descriptionBox-nav-box {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background: linear-gradient(90deg, #771801, #964100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.descriptionBox-nav-box-fade {
    font-size: 18px;
    color: #2d2d2b;
    cursor: pointer;
}

.descriptionBox-description p {
    margin: 10px 0;
    line-height: 1.6;
    color: #333;
    font-size: 17px;
}