.relatedItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
  margin-bottom: 100px;
}
.relatedItems h2 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
  margin-top: 20px;
}
.relatedItems hr {
  width: 500px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.related-item-product {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}
