.footer{
   background-color: white;
   padding: 40px 20px;
   text-align: center;
   color: #333;
   margin-top: 30px; 
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
.footer-logo img{
    width: 50px;
    height: auto;
}
.footer-logo p{
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(90deg, red, black);
    -webkit-background-clip: text; /*it will give linear colors to text*/
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.footer ul{
    list-style: none;
    padding: 0;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.footer ul li{
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
}

.footer ul li :hover{
    color: #ee0979;
}

.footer-social-icon{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-icon{
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: all 0.8s ease; */
}
.footer-icon:hover{
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: all 0.8s ease;
}
.copyright{
    margin-top: 10px;
}