.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 120vh;
}
.popular h2 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
  margin-top: 20px;
}
.popular hr {
  width: 450px;
  height: 5px;
  border-radius: 10px;
  background: #252525;
}
.collection-item {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}
