.offers {
  width: 80%;
  height: 70vh;
  display: flex;
  margin: auto;
  margin-bottom: auto;
  padding: 70px 150px;
  background-image: linear-gradient(180deg, rgb(134, 57, 129), white 60%);
  border-radius: 50px;
  gap: 200px;
}
.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offers-left h1 {
  color: #171717;
  font-size: 70px;
  font-weight: 600;
}
.offers-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}
.offers-left button {
  width: 280px;
  height: 70px;
  border-radius: 30px;
  padding: 10px;
  margin-top: 30px;
  background: rgb(235, 29, 29);
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.offers-left button:hover {
  transform: scale(0.9);
  transition: 0.8s;
}
.offers-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.offers-right img {
  height: 65vh;
}
